<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TempConvertSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TempConvertSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempConvertSoap"
                contract="TempConverter.TempConvertSoap" name="TempConvertSoap" />
            <endpoint address="http://www.w3schools.com/webservices/tempconvert.asmx"
                binding="customBinding" bindingConfiguration="TempConvertSoap12"
                contract="TempConverter.TempConvertSoap" name="TempConvertSoap12" />
        </client>
    </system.serviceModel>
</configuration>